In [1]:
# 2000-2500 arası ürünün yorumlarını alma islemi

import re 
import requests
import json
import pandas as pd
import numpy as np
import time

urunler = []
with open("urunler.txt", mode='r', encoding='utf-8') as file:
    for line in file.readlines():
        line = line.split('\n')[0]
        urunler.append(line)

url = 'https://www.hepsiburada.com'
headers = {'User-Agent': 'Mozilla/5.0'}

text = '<span class="hermes-ReviewCard-module-3fj8Y" itemProp="datePublished" content="(.*?)">(.*?)<span itemProp="description">(.*?)</span>(.*?)<span itemProp="ratingValue" content="(.*?)">'

tarihler = []
yorumlar = []
puanlar = []
sayfaSayisi = 1 

try:
    print("İşlemler yapılandırılıyor. Lütfen bekleyiniz...")
    
    for urun in urunler[2000:2500]:
        yeniUrl = url + urun + '-yorumlari'
    
        for sayfa in range(sayfaSayisi):

            yeniUrl2 = yeniUrl + '?sayfa=' + str(sayfa + 1)
            session = requests.Session()
            response = session.get(yeniUrl2, headers = headers).text

            genelArama = re.findall(text, response, re.MULTILINE | re.DOTALL)

            if len(genelArama) > 0:
                
                for i in genelArama:
                    tarihler.append(i[0])
                    yorumlar.append(i[2])
                    puanlar.append(i[4])
                
    time.sleep(3)
    print('Tüm işlemler başarılı bir şekilde tamamlandı.')
except:
    print("Bir hata oluştu. Hatayı kontrol ediniz!")

İşlemler yapılandırılıyor. Lütfen bekleyiniz...
Tüm işlemler başarılı bir şekilde tamamlandı.

In [2]:
len(tarihler), len(puanlar), len(yorumlar)

(3839, 3839, 3839)

In [3]:
yorumlar[0:5]

['Derece yapan ogrencilerin tavsiyesi uzerine aldim. Bence sinava girecek her ogrencinin cozmesi gerekiyor. Icerisinde 10 farkli yayinin tyt denemesi var ve ek olarak 2021 tyt cikmis sorular da var. 2022 model ve yeni nesil sorulari icermesi bakimindan da cok yararli.',
 '2 gün önce sipariş ettim bu arada elime ulaştı soruları vs gayet güzel kargosu da hızlıydı',
 'Paketleme özenliydi kitap çok güzel teşekkürler',
 'YKS çalışırken almıştım kendime gerçekten çok güzel bir kaynak şimdi arkadaşıma aldım. Gönül rahatlığıyla sipariş edebilirsiniz. İyi dersler :&#039;)',
 'Ürün hasarsız geldi. Yanında bir de ayt kimya test göndermişler teşekkürlerr']

In [4]:
tarihler[0:5]

['2022-02-17', '2022-05-07', '2022-02-23', '2022-03-10', '2022-02-17']

In [5]:
puanlar[0:5]

['5', '5', '5', '5', '5']

In [6]:
df = pd.DataFrame({'tarih':tarihler, 'puan':puanlar, 'yorum':yorumlar})

In [7]:
df.head()

        tarih puan                                              yorum
0  2022-02-17    5  Derece yapan ogrencilerin tavsiyesi uzerine al...
1  2022-05-07    5  2 gün önce sipariş ettim bu arada elime ulaştı...
2  2022-02-23    5    Paketleme özenliydi kitap çok güzel teşekkürler
3  2022-03-10    5  YKS çalışırken almıştım kendime gerçekten çok ...
4  2022-02-17    5  Ürün hasarsız geldi. Yanında bir de ayt kimya ...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3839 entries, 0 to 3838
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tarih   3839 non-null   object
 1   puan    3839 non-null   object
 2   yorum   3839 non-null   object
dtypes: object(3)
memory usage: 90.1+ KB

In [9]:
df.puan.value_counts()

5    3340
4     333
3      91
1      57
2      18
Name: puan, dtype: int64

In [10]:
from pathlib import Path  
filepath = Path('hb_yorumlar5.csv')  
df.to_csv(filepath, index = False, sep = ',')